In [67]:
import pandas as pd
import numpy as np
import mediapipe as mp
import seaborn as sns

In [65]:
df = pd.read_csv('face_mesh.csv')
df.head()

   id    x    y face_element  openFace_landmark
0   0  228  173    upper_lip               51.0
1   1  228  156         nose               33.0
2   2  228  161         nose               32.0
3   3  223  136         nose               29.0
4   4  228  150         nose               30.0

'/home/filippo/elderReact/mediaPipe/face_mesh'