In [2]:
import numpy as np
import pandas as pd
import os

In [33]:
df = pd.read_csv('kernel_SVM/cohen_kappa.csv', header=[0,1], index_col=[0,1])
#df.loc[:, 'au_intensities_activations'].style.highlight_max(axis=1).format('{:.2f}')
df.style.highlight_max(axis=1).format('{:.2f}')

In [35]:
df = pd.read_csv('LSTM/cohen_kappa.csv', header=0, index_col=[0,1])
#df.loc[:, 'au_intensities_activations'].style.highlight_max(axis=1).format('{:.2f}')
df.style.highlight_max(axis=1).format('{:.2f}')

/home/filippo/anaconda3/lib/python3.8/site-packages/pandas/io/formats/style.py:1547: RuntimeWarning: All-NaN slice encountered
  extrema = data == np.nanmax(data.to_numpy())